<%= form_with(model: redirection, class: "contents", data: {turbo: false}) do |form| %>
  <% if redirection.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(redirection.errors.count, "error") %> prohibited this redirection from being saved:</h2>

      <ul>
        <% redirection.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :source_path %>
    <%= form.text_field :source_path, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :destination_url %>
    <%= form.text_field :destination_url, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %><br>
    <small>Example: https://www.example.com (remember the 'http://' or 'https://')</small>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
