<div id="<%= dom_id redirection %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Source path:</strong>
    <%= redirection.source_path %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Destination url:</strong>
    <%= redirection.destination_url %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this redirection", redirection, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this redirection", edit_redirection_path(redirection), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
